


body {
    background-image: url("../images/interlaced.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


header { 

    width: 100%;
    display: inline-block;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #cccccc;
}

.name h1 { 
    float: left;
    background-color:teal;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 22px;
    padding: 2%;
    margin-left: 2%;
}

.white_box {
    background-color: white;
    float: left;
    padding: 2% 5% 0% 5%;

}

 #about_link { 
    float: right;
    background-color: white;
    width: 6%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 2%;
    
 }

#portfolio_link { 
    float: right;
    background-color: white;
    width: 6%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 2%;
    
   }

 #contact_link {
    float: right;
    background-color: white;
    width: 6%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 2%;
    padding-right: 13%
 }


a:link {
    text-decoration: none;
    color: #777777;
    background: white
}
a:visited {
    text-decoration: none;
    color: #777777;
}
a:hover {
    text-decoration: none;
    color: teal;
}
a:active {
    text-decoration: none;
}

h1 {
    color: teal;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 22px;
    padding: 2%;
    background-color: white;
    margin-left: 1%;
}
 
.about_main h1 {
    margin-top: 3px;

    
 }

 hr {
    color: #cccccc;
   border-top: 1.5px solid #cccccc;
   border-bottom: 1.5px solid #cccccc;
   width: 910px;
 }
.main {
    background-color: white;
    width: 960px;
    height: 400px;
    margin-left: 12%;
    margin-bottom: 2%;
    padding-bottom: 50px;
    display: inline-block;

}

p {
    line-height: 2;
    color: #777777;
    margin: 2%;
    padding: 0% 2% 0% 2%;

}
.img-thumbnail { 
    float:left;
    padding: 2rem;
    margin: 2rem;
}

.main_name {
    margin-left:1rem;
}

footer {
background-color: #666666;
text-align: center;
width: 100%;
height: 50px;
display: inline-block;
border-top: 8px solid #4aaaa5;
margin-top: 5%;
overflow: hidden;
color:white;
margin-top:20rem;

}

.custom-logo {float: left;
    padding: 1rem;
    padding-right: 2rem;
    margin-right: 40rem;
    margin-left: 3rem;
    background-color: teal;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
              
}

.nav {background-color: #cccccc;}
.nav-link { background-color: #cccccc}

.main_name {float: left;
    padding: 1rem;
    padding-right: 4.7rem;


    margin-right: 40rem;

    color: teal;
    font-family: 'Georgia', Times, Times New Roman, serif;

            
}
.card {
    margin-top: 7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
 
    

}

.fixed-bottom {text-align: center;
;}
.form-group {padding: 1rem;}

.card-body { width: 18rem;
            padding: 1rem;
          
        }


        
.img-fluid {max-width: width 100%;}
